/* You can add global styles to this file, and also import other style files */
.logo{

    &:hover{
        cursor: pointer;
    }
}

.hover-pointer{

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        background-color: rgba(211, 211, 211, 0.401);
    }
}