<div class="home-full-page w-100 h-100">
    <h2 class="p-3 d-flex flex-row gap-3 border-bottom border-1 align-items-center"> 
    <img
        class="logo flex-shrink-0" 
        src="./favicon.ico" alt="">
    {{"fileM : chia sẻ tài liệu "|uppercase}}</h2>
    <div class="p-3 d-flex flex-column justify-content-center align-items-center">
        <button
            class="btn btn-outline-primary text-nowrap rounded-pill px-3 py-2"
            (click)="navigate('/documents')"
        >
            Đi đến trang chia sẻ tài liệu →
        </button>
    </div>
</div>