<h2 class="p-3 d-flex flex-row gap-3 border-bottom border-1 align-items-center"> 
  <img 
    class="logo"
    (click)="navigate('/home')"
    src="./favicon.ico" alt=""
  > 
  {{"Danh sách tài liệu"| uppercase}}
  <button class="ms-auto btn btn-outline-primary"
    (click)="showList()"
  >XSS-queryList</button>
</h2>
<div class="doc-list w-50 p-3">
  <div class="w-100 d-flex flex-row gap-2 mb-3">
    <input 
      type="text" 
      class="form-control flex-grow-1" 
      placeholder="Tìm kiếm tài liệu..." 
      [(ngModel)]="searchTerm"  
      (keyup.enter)="onSearchTermChange()"
    />
    <div class="d-flex gap-2">
      <button class="btn btn-primary text-nowrap"
      (click)="onSearchTermChange()"
      >Tìm kiếm</button>
      <button
        class="btn btn-outline-primary text-nowrap"
        (click)="onSearchTermChange(true)"
      >
        Sync
      </button>
    </div>
  </div>
  <div class="w-100 d-flex flex-row gap-2 mb-3">
    [Câu truy vấn - mặc định]:
    <span [innerHTML]="searchTerm"></span>
  </div>
  <div class="w-100 d-flex flex-row gap-2 mb-3">
    [Câu truy vấn - bypass]:
    <span [innerHTML]="safeHtml(searchTerm)"></span>
  </div>
  <div *ngIf="loading" class="text-center my-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>Loading...</p>
  </div>
  <div *ngIf="!loading">
    <ng-container *ngIf="filteredDocuments.length > 0; else noResults">
      <ng-container *ngFor="let doc of filteredDocuments.slice().reverse()">
        <app-document-item 
          [document]="doc" 
          (delete)="onDocumentDeleted($event)">
        </app-document-item>
      </ng-container>
    </ng-container>
    <ng-template #noResults>
      <div class="alert alert-warning text-center" role="alert">
        Không tìm thấy tài liệu nào.
      </div>
    </ng-template>
  </div>
  <app-xss-scripts-list></app-xss-scripts-list>
</div>
