
<h2 class="p-3 d-flex flex-row gap-3 border-bottom border-1 align-items-center"> 
    <img 
      class="logo"
      src="./favicon.ico" alt=""
    > 
    {{`Chi tiết: ${document.title}`| uppercase}}
    <button
        class="btn btn-outline-success"
    >
        like 👍
    </button>

    <button
        class="btn btn-danger"
    >
        dislike 👎
    </button>   
 </h2>
 <div class="w-75 ps-3">
     <div *ngIf="document">
         <h1 class="alert alert-secondary">{{ document.title }}</h1>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
         <p class="my-3 p-3 bg-light rounded" [ngClass]="getRandomClass()">{{ document.description }}</p>
        </div>
        <div *ngIf="!document">
            <p>Document not found</p>
        </div>
    </div>   
