<h2 *ngIf="document" class="p-3 d-flex flex-row gap-3 border-bottom border-1 align-items-center"> 
    <img 
      class="logo"
      src="./favicon.ico" alt=""
    > 
    {{ document.title.length > 30 ? ('Chi tiết: ' + document.title.substring(0, 30) + '...') : ('Chi tiết: ' + document.title) | uppercase }}
    <button 
    class="btn" 
    [ngClass]="document.likeRate < 0 ? 'btn-outline-danger' : 'btn-outline-success'">
    {{ document.likeRate + (document.likeRate > 0 ? ' 👍' : ' 👎') }}
  </button>      
    <div class="ms-auto d-flex gap-3">
    <button
        class="btn btn-outline-danger"
        (click)="upLike(false)"
    >
        Không thích
    </button>   
    <button
        class="btn btn-success"
        (click)="upLike(true)"
    >
        Thích tài liệu này?
    </button>

    </div>
  </h2>
  
  <div class="w-75 ps-3">
    <div *ngIf="document; else notFound">
        <h1 class="alert alert-secondary">{{ document.title }}</h1>
        <p class="my-3 fw-bold p-3 bg-light rounded ">{{ document.description ?? "Description" }}</p>
        <p class="my-3 p-3 bg-light rounded">{{ document.description ?? "Description" }}</p>
        <p >{{ document.description ?? "Description" }}</p>
        <p class="my-3 p-3 fs-3 bg-light rounded">{{ document.description ?? "Description" }}</p>
        <p class="bg-light alert-success bg-light">{{ document.description ?? "Description" }}</p>
        <p class="fs-6">{{ document.description ?? "Description" }}</p>
        <p class="bg-info fs-2 font-monospace">{{ document.description ?? "Description" }}</p>
        <p class="mt-3 fs-2  bg-danger">{{ document.description ?? "Description" }}</p>
        <p >{{ document.description ?? "Description" }}</p>
        <p class="my-3 p-3 bg-light rounded">{{ document.description ?? "Description" }}</p>
        <p >{{ document.description ?? "Description" }}</p>
        <p class="my-3 p-3 bg-light rounded">{{ document.description ?? "Description" }}</p>
        <p class="bg-light alert-success bg-primary">{{ document.description ?? "Description" }}</p>
        <p class="bg-success bg-success text-white rounded">{{ document.description ?? "Description" }}</p>
        <p class="my-3 p-3 bg-light rounded">{{ document.description ?? "Description" }}</p>
    </div>
  
    <ng-template #notFound>
        <p>Document not found</p>
    </ng-template>
  </div>
  