<div class="xss-list-container position-fixed border-start border-1" *ngIf="xssListService.isVisible$ | async">
<h3 class="w-100 d-flex gap-3 align-items-center p-3">
    {{"danh sách query" | uppercase}}
    <button class="btn-close ms-auto" 
        (click)="xssListService.hide()"
        aria-label="Close">
    </button>
</h3>
<div class="list-group p-3 d-flex flex-column gap-3">
    <ng-container *ngFor="let xss of XssScriptlist">
        <div class="d-flex flex-column gap-1">
            <h5 class="d-flex align-items-center">
                {{xss.title}}
                <button 
                (click)="copyText(textArea)" 
                class="btn btn-outline-primary ms-auto">📄</button>
            </h5>
            <textarea #textArea rows="5" cols="40" [(ngModel)]="xss.data"></textarea>
        </div>
    </ng-container>
</div>
</div>